<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Login Example</title>
</head>
<body bgcolor="#AED6F1">
    <div th:if="${param.error}">
        <h3>The username and password mentioned are incorrect.</h3>
    </div>
    <div th:if="${param.logout}">
        <h3>The user has been logged out</h3>
    </div>
    <form th:action="@{/login}" method="post">
        <div><label> Customer User Name: <input type="text" name="username"/></label></div>
        <div><label> Password: <input type="password" name="password"/></label></div>
        <div><input type="submit" name="login"/></div>
    </form>

</body>
</html>